<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeeklyMapper">
    
    <resultMap type="com.ruoyi.system.domain.Weekly" id="WeeklyResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="weekType"    column="week_type"    />
        <result property="time"    column="time"    />
        <result property="project"    column="project"    />
        <result property="description"    column="description"    />
        <result property="workHours"    column="work_hours"    />
        <result property="sort"    column="sort"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="problem"    column="problem"    />
    </resultMap>
	
	<sql id="selectWeeklyVo">
        select id, uid, week_type, time, project, description, problem,work_hours, sort, add_time, update_time from weekly
    </sql>

    <select id="selectWeeklyList" resultMap="WeeklyResult">
        <include refid="selectWeeklyVo"/>
        <where>  
             <if test="uid != null "> and uid = #{uid}</if>
              and time &gt;= #{startDate} and time &lt;= #{endDate}
         </where>
    </select>
    
    <select id="selectWeeklyById" parameterType="Integer" resultMap="WeeklyResult">
        <include refid="selectWeeklyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWeekly" parameterType="com.ruoyi.system.domain.Weekly">
        insert into weekly
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">uid,</if>
			<if test="weekType != null  ">week_type,</if>
			<if test="time != null  ">time,</if>
			<if test="project != null  and project != ''  ">project,</if>
			<if test="description != null  and description != ''  ">description,</if>
			<if test="workHours != null  ">work_hours,</if>
			<if test="sort != null  ">sort,</if>
		    <if test="problem !=null">problem,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">#{uid},</if>
			<if test="weekType != null  ">#{weekType},</if>
			<if test="time != null  ">#{time},</if>
			<if test="project != null  and project != ''  ">#{project},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
			<if test="workHours != null  ">#{workHours},</if>
			<if test="sort != null  ">#{sort},</if>
            <if test="problem !=null">#{problem},</if>
         </trim>
    </insert>
	 
    <update id="updateWeekly" parameterType="Weekly">
        update weekly
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null  ">uid = #{uid},</if>
            <if test="weekType != null  ">week_type = #{weekType},</if>
            <if test="time != null  ">time = #{time},</if>
            <if test="project != null  and project != ''  ">project = #{project},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="workHours != null  ">work_hours = #{workHours},</if>
            <if test="sort != null  ">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteWeeklyById" parameterType="integer">
        delete from weekly where id = #{id}
    </delete>
	
    <delete id="deleteWeeklyByIds" parameterType="string">
        delete from weekly where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectWeekly" parameterType="com.ruoyi.system.dto.WeeklyDto" resultType="com.ruoyi.system.dto.WeeklyDto">
        SELECT
            w.uid,
            w.time,
            s.user_name AS name,
            w.week_type AS weekType,
            s.dept_id as departmentId,
            w.project,
            w.description,
            w.work_hours AS workHours,
            w.problem
        FROM sys_user AS s
          INNER JOIN weekly AS w ON w.uid=s.user_id
        WHERE 1=1
        <if test="name!= null and name!=''">
            AND INSTR(s.user_name,#{name})
        </if>

        <if test="departmentId!=null and departmentId!=''">
            AND s.dept_id=#{departmentId}
        </if>

        <if test="month!=null and month!=''">
            AND DATE_FORMAT(w.time, '%Y%m' ) =#{month}
        </if>

        <if test="uid!=null and uid!=''">
            AND w.uid=#{uid}
            ORDER BY w.sort
        </if>
    </select>
    
</mapper>