<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<script th:src="@{/ajax/libs/laydate/laydate.js}"></script>
<body class="white-bg">

<div class="container-div">

    <div class="row">

        <!-- 页面上方导航栏-->
        <div class="col-sm-12 search-collapse">
            <ul class="breadcrumb">
                <input type="hidden" id="startDate" th:value="${#dates.format(start,'yyyy-MM-dd hh:MM:ss')}">
                <input type="hidden" id="endDate" th:value="${#dates.format(end,'yyyy-MM-dd hh:MM:ss')}">
                <input type="hidden" id="hasWeek" th:value="${hasWeekly}">
                <li>本周:
                    <span th:text="${#dates.format(start,'MM/dd')}"></span>-
                    <span th:text="${#dates.format(end,'MM/dd')}"></span></li>
            </ul>
        </div>

        <!-- 周报主体str-->
        <div class="col-sm-12 select-table table-striped">
            <table class="table" id="week-table">
                <tr>
                    <td width="10%">日期</td>
                    <td>客户/项目</td>
                    <td>作业内容描述</td>
                    <td>工时(h)</td>
                    <td>课题及问题点</td>
                    <td></td>
                </tr>
                <tr th:each="week : ${weekly}">
                    <td>
                        <input type="text" style="width: 80px" class="date-input"
                               th:value="${#dates.format(week.time,'yyyy-MM-dd')}" th:id="${weekStat.index}"
                               placeholder="日期" onfocus="initDate()" readonly>
                    </td>
                    <td>
                        <input type="text" style="width: 150px" class="form-control" th:value="${week.project}"
                               aria-describedby="sizing-addon3" placeholder="客户/项目">
                    </td>
                    <td>
                        <textarea class="form-control" rows="3" maxlength="2000" th:text="${week.description}"
                                  placeholder="作业内容"></textarea>
                    </td>
                    <td>
                        <input type="number" min="0" style="width: 70px" th:value="${week.workHours}"
                               class="form-control" aria-describedby="sizing-addon3" placeholder="工时">
                    </td>
                    <td>
                        <textarea class="form-control" rows="3" maxlength="2000" th:text="${week.problem}"
                                  placeholder="课题,问题点"></textarea>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-xs" onclick="delLine(this)"><i class="fa fa-remove"></i> 删除</a>
                    </td>
                </tr>

            </table>
            <div class="btn-group-sm hidden-xs" id="toolbar" role="group" style="float: right">
                <a class="btn btn-success" onclick="addLine()">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary btn-edit" onclick="save()">
                    <i class="fa fa-check"></i> 提交
                </a>
            </div>
        </div>
        <!-- 周报主体end-->
    </div>

</div>

<div th:include="include::footer"></div>
<script type="text/javascript">
    var str = $('#startDate').val();
    var end = $('#endDate').val();
    var hasWeek = $('#hasWeek').val();
    $(function () {
        if (hasWeek == 0) {
            addLine();
        }
    })

    /**
     * 添加一行
     */
    function addLine() {
        var num = $("table").find("tr").length;
        if (num > 8) {
            $.modal.alertError("最多只能添加七个工作日");
            return false;
        }
        var html = '<tr>\n' +
            '                <td>\n' +
            '                    <input type="text" style="width: 80px" class="date-input"  id="now' + num + '" placeholder="日期" onfocus="initDate()"  readonly>\n' +
            '                </td>\n' +
            '                <td>\n' +
            '                    <input type="text" style="width: 150px" class="form-control" aria-describedby="sizing-addon3" placeholder="客户/项目">\n' +
            '                </td>\n' +
            '                <td>\n' +
            '                    <textarea class="form-control" rows="3" maxlength="2000" placeholder="作业内容"></textarea>\n' +
            '                </td>\n' +
            '                <td>\n' +
            '                    <input type="number" min="0" style="width: 70px" class="form-control" aria-describedby="sizing-addon3" placeholder="工时">\n' +
            '                </td>\n' +
            '                <td>\n' +
            '                    <textarea class="form-control" rows="3" maxlength="2000" placeholder="课题,问题点"></textarea>\n' +
            '                </td>\n' +
            '                <td>\n' +
            '                    <a class="btn btn-danger btn-xs" onclick="delLine(this)">\n' +
            '                        <i class="fa fa-remove"></i> 删除\n' +
            '                    </a>\n' +
            '                </td>\n' +
            '            </tr>';
        $(".table").append(html);
        laydate.render({
            elem: '#row' + length
        })
    }

    /**
     * 删除当前行
     */
    function delLine(that) {
        var msg = "是否确认删除此条目？"
        var index = layer.confirm(msg, {
            btn: ['确认', '取消'], //按钮
            shade: [0.4, '#393D49'],
            title: false,
            closeBtn: false
        }, function () {
            layer.close(index);
            $(that).parent().parent().remove();
        });
    }

    /**
     * 日期控件初始化
     * @type {{path, set, v, ready, index, config}|string}
     */
    function initDate() {
        lay('.date-input').each(function () {
            laydate.render({
                min: str,
                max: end,
                elem: this,
                theme: 'molv',
                trigger: 'click'
            });
        });
    }

    function errorMsg(row, msg) {
        $.modal.alertError('第' + row + '行' + msg);
        return false;
    }

    /**
     * 保存表单内容
     */
    function save() {
        var itemList = new Array();
        var sort = 0;
        $('#week-table tr:gt(' + sort + ')').each(function (n, value) {
            sort++;
            var item = new Object();
            item.sort = sort;
            item.weekType = [[${weekType}]]
            itemList[n] = item;
            $(this).find('td').each(function (n, value) {
                switch (n) {
                    case 0://日期
                        var time = $(this).find("input").val();
                        if (time!=''){
                            item.time = time;
                        }else {
                            errorMsg(sort,'日期为必填项');
                        }
                        break;
                    case 1://客户项目
                        var project = $(this).find("input").val();
                        if(project!=''){
                            item.project = project;
                        }else {
                            errorMsg(sort,'客户项目为必填项');
                        }
                        break;
                    case 2://作业内容
                        var description = $(this).find("textarea").val();
                        description = item.description.replace(new RegExp("\n", "gm"), "<br/>");
                        if (description!=''){
                            item.description = description;
                        } else {
                            errorMsg(sort,'作业内容为必填项');
                        }
                        break;
                    case 3://工时
                        var workHours = $(this).find("input").val();
                        item.workHours = workHours;
                        break;
                    case 4: //课题、问题点
                        var problem = $(this).find("textarea").val();
                        problem = item.problem.replace(new RegExp("\n", "gm"), "<br/>");
                        if(problem!=''){
                            item.problem = problem;
                        }else {
                            errorMsg(sort,'课题、问题点为必填项');
                        }
                        break;
                }
            })
        });
        if (itemList.length == 0) {
            $.modal.alertError("请填写周报内容后再提交");
            return false;
        }

        $.ajax({
            data: JSON.stringify(itemList),
            dataType: 'JSON',
            url: '[[@{/weekly/save}]]',
            type: 'POST',
            contentType: 'application/json',
            success: function (res) {
                if (res.code == 0) {
                    $.modal.alertSuccess("周报提交成功！")
                } else {
                    $.modal.alertError(res)
                }
            }
        })
    }
</script>
</body>
</html>
