<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/lay/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>周报</legend>
</fieldset>
<ul class="layui-timeline">

    <li class="layui-timeline-item" th:each="week:${weeks}">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title" th:text="${week.week}"></h3>
            <div class="layui-collapse">
                <div class="layui-colla-item" th:each="w:${week.weekly}">
                    <h2 class="layui-colla-title">
                        <span th:text="${#dates.format(w.time,'MM/dd')}"></span>
                        &nbsp;<span th:text="${w.whichDay}"></span>
                    </h2>
                    <div class="layui-colla-content">
                        <p><span>客户/项目:</span><span th:text="${w.project}"></span></p>
                        <p><span>项目区分:</span><span th:text="${w.projectDetail}"></span></p>
                        <p><span>作业区分:</span><span th:text="${w.jobDetail}"></span></p>
                        <p><span>作业内容:</span><span th:text="${w.jobDetail}"></span></p>
                        <p><span>工时:</span><span th:text="${w.workHours}"></span>h</p>
                        <p><span>课题及问题点:</span><span th:text="${w.problem}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>
</body>
<script th:src="@{/lay/layui/layui.js}"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });

</script>
</html>