<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/lay/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>周报</legend>
</fieldset>
<ul class="layui-timeline">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title"> 第一周（12/31-1/6）</h3>
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">12/31</h2>
                        <div class="layui-colla-content layui-show">
                            <p><span>客户\项目:</span>道馆</p>
                            <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                                奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                                诠释高效。</p>
                            <p><span>工时:</span>8h</p>
                            <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">1/1</h2>
                        <div class="layui-colla-content layui-show">
                            <p><span>客户\项目:</span>道馆</p>
                            <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                                奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                                诠释高效。</p>
                            <p><span>工时:</span>8h</p>
                            <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">1/2</h2>
                        <div class="layui-colla-content layui-show">
                            <p><span>客户\项目:</span>道馆</p>
                            <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                                奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                                诠释高效。</p>
                            <p><span>工时:</span>8h</p>
                            <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                        </div>
                    </div>
                </div>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">第二周（1/7-1/13）</h3>
            <div class="layui-collapse">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">1/7</h2>
                    <div class="layui-colla-content layui-show">
                        <p><span>客户\项目:</span>道馆</p>
                        <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                            奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                            诠释高效。</p>
                        <p><span>工时:</span>8h</p>
                        <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">1/8</h2>
                    <div class="layui-colla-content layui-show">
                        <p><span>客户\项目:</span>道馆</p>
                        <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                            奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                            诠释高效。</p>
                        <p><span>工时:</span>8h</p>
                        <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">1/9</h2>
                    <div class="layui-colla-content layui-show">
                        <p><span>客户\项目:</span>道馆</p>
                        <p><span>作业内容:</span>身处在前端社区的繁荣之下，我们都在有意或无意地追逐。而 layui 偏偏回望当初，
                            奔赴在返璞归真的漫漫征途，自信并勇敢着，追寻于原生态的书写指令，试图以最简单的方式
                            诠释高效。</p>
                        <p><span>工时:</span>8h</p>
                        <p><span>课题、问题点:</span>降低阿囧啊我就覅哦就hi佛啊</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</body>
<script th:src="@{/lay/layui/layui.js}"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;

    });

</script>
</html>